@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Inter:opsz,wght@14..32,100..900&family=Roboto&display=swap');

* { padding: 0; margin: 0; box-sizing: border-box; }

body {
    background-color: rgb(77, 77, 77);
    flex-direction: column;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.wrapper { width: 500px; margin-top: 2em; }

header {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-icon { font-size: 70px!important; }
.header-headline { font-family: 'Instrument Sans'; font-size: 30px; margin-top: 10px; }

main {
    background-color: rgb(34, 34, 34);
    width: 100%;
    border-radius: 0.2em;
}

h1 { font-family: 'Inter'; font-size: 20px; margin-bottom: 1em; }
p { font-family: 'Roboto'; }

.main-container {
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 0.2em;
    color: rgb(54, 54, 54);
    margin: 0.5em;
}

.container {
    padding: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: rgb(136, 136, 136);
    padding: 20px 0 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    font-family: 'Roboto';
    color: white;
}

th, td {
    padding: 0.5em;
}

td {
    color: green;
}

th {
    background-color: rgb(111, 199, 144);
}

th:first-child { border-top-left-radius: 0.3em; }
th:last-child { border-top-right-radius: 0.3em; }

@media only screen and (max-width: 499px) {
    .wrapper { width: 100%; }
}
